# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Docker
Dockerfile

# Env files
.env
.env.*

# Git
.git
.gitignore

# Test coverage or reports
coverage/
*.log
reports/
